REACT_APP_HOSTNAME="localhost"
REACT_APP_PORT="3015"
REACT_APP_SECURE=""

# DarkSky
REACT_APP_WEATHER_API_KEY="aea106c145b8ecec0014ee08d0c885c1"

# Geonames
REACT_APP_CITIES_API_KEY="autapomorph"

# ipgeolocation.io
REACT_APP_GEOIP_API_KEY="10b88b00ec284861b853353074b76bcf"
