:root {
  /* common colors */
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 0.1);
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.001);
  --gray: #d2d5d6;
  --light-gray: #eceff1;
  --blue: #2196f3;
  --light-blue: #f1fcff;
  --orange: #ff6d00;
  --lighter-orange: #ff761c;
  --light-orange: #ff9d1b;
  --dark-orange: #d64d08;
  --yellow: #ffc107;
  --dark-yellow: #ffa000;
  --red: #f44336;
  --dark-red: #d32f2f;

  /* background colors */
  --bg-light-blue: #f3f7fa;
  --bg-success: #d4edda;
  --bg-error: #f8d7da;

  /* text colors */
  --base-text-color: #4a4a4a;
  --secondary-text-color: #8b9497;
  --contrast-text-color: #ffffff;
  --disabled-text-color: #8b9497;
  --success-text-color: #155724;
  --error-text-color: #721c24;

  /* border colors */
  --border-success: #155724;
  --border-error: #721c24;

  /* shadow colors */
  --shadow-blue: rgba(91, 137, 164, 0.25);
  --shadow-light-blue: rgba(91, 137, 164, 0.1);
}
