:root {
  --white: #fff;
  --white-darker: #eceff1;
  --white-dark: #e8eaed;
  --white-dark-darker: #dadee0;
  --gray-light-lighter: #d2d5d6;
  --gray-light: #ccc;
  --gray-lighter: #b3b3b3;
  --gray-a9: #a9a9a9;
  --gray: #8b9497;
  --gray-darker: #6b6a6a;
  --gray-dark: #5f6368;
  --gray-dark-darker: #4a4a4a;
  --black-40: #404040;
  --black-37: #373737;
  --black-30: #303030;
  --black-24: #242424;
  --black-24-75A: rgba(24, 24, 24, 0.75);
  --black-20: #202020;
  --yellow: #ffc107;
  --yellow-dark: #ffa000;
  --red: #f44336;
  --red-dark: #d32f2f;
  --violet: #9438f9;
  --violet-light: #ab59f2;
  --aquamarine: #4cc6a2;
  --violet-aquamarine: linear-gradient(to bottom right, var(--violet), var(--aquamarine));
}
