@import url('./_variables.css');

*,
*:before,
*:after {
  font-size: 1rem;
  font: inherit;
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background: var(--bg-violet);
  background: var(--bg-gradient);
  color: var(--base-text-color);
  font-family: Open Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
}
