@import url('./_variables.css');

*,
*:before,
*:after {
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background-color: var(--bg-light-blue);
  color: var(--base-text-color);
  font-family: Open Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 1rem;
}
